

.pick-btn {
    /* height: 60px; */
    font-size: 10pt!important;
}

.pick-card-date {
    font-size: 10pt!important;
}

.pc-title-text {
    font-size: .9vh!important;
}


@media only screen and (min-device-width : 768px) {
        .pick-card {
            min-height: 245px;
        }

        .pick-header-row {
            min-height: 107px;
        }
    }
    